{% extends "layout.html.twig" %}

{% block title %}Рафтове{% endblock %}

{% block content %}

	<h1 class="page-header">{{ block('title') }}</h1>
	<table class="table table-condensed table-hover">
	{% for shelf in pager.currentPageResults %}
		<tr>
			<td><span class="fa {{ shelf.icon }} shelf-icon"></span></td>
			<td><a href="{{ path('my_shelf', { id: shelf.id }) }}">{{ shelf.name }}</a></td>
			<td title="{{ shelf.description }}">{{ shelf.description|maxlength(40) }}</td>
			<td><span class="badge">{{ shelf.nbBooks }}</span></td>
			<td><a href="{{ path('my_shelf_form', { id: shelf.id }) }}" class="btn btn-default btn-xs" title="Промяна"><span class="fa fa-edit"></span></a></td>
		</tr>
	{% else %}
		<li>Нямате създадени рафтове.</li>
	{% endfor %}
	</table>
	{% include 'pager.html.twig' %}

	<div class="text-center">
		<a class="btn btn-primary" role="button" data-toggle="collapse" href="#createShelfForm" aria-expanded="false" aria-controls="createShelfForm">
			<span class="fa fa-plus"></span> Нов рафт
		</a>
	</div>
	<div id="createShelfForm" class="collapse">
		{{ form(createForm) }}
	</div>

{% endblock %}
