{% macro printField(book, field, searchableFields) %}
	{% set attr = attribute(book, field) %}
	{% if attr is not empty %}
		<dt>{{ field|humanize|trans }}</dt>
		<dd>
			{% if attr.timestamp is defined %}
				{{ attr|date('d.m.Y H:s') }}
			{% elseif field == 'linksByCategory' %}
				{% for category, links in attr %}
					<b>{{ ('BookLinkCategory.' ~ category)|trans }}</b>
					<ul>
					{% for link in links %}
						<li>{{ _self.printLink(link) }}</li>
					{% endfor %}
					</ul>
				{% endfor %}
			{% elseif field in searchableFields.fields %}
				{% if field in ['title', 'subtitle'] %}
					<a href="{{ path('books', { q: field ~ searchableFields.separator ~ attr }) }}">{{ attr }}</a>
				{% else %}
					{% for subvalue in attr|split(', ') %}
						<a href="{{ path('books', { q: field ~ searchableFields.separator ~ subvalue }) }}">{{ subvalue }}</a>{% if not loop.last %},{% endif %}
					{% endfor %}
				{% endif %}
			{% else %}
				{{ attr|nl2br }}
			{% endif %}
			{% if field == 'createdBy' %}
				<a href="{{ path('fos_message_thread_new', { username: attr }) }}" title="Изпращане на лично съобщение"><span class="fa fa-comment-o"></span></a>
			{% endif %}
		</dd>
	{% endif %}
{% endmacro %}

{% macro printLink(link) %}
	<a href="{{ link.url }}" title="{{ link.title }} - {{ link.author }}">{{ link.title|default(link.url|slice(0, 50)) }}</a>
{% endmacro %}
