{% macro printField(book, field, searchableFields) %}
	{% import _self as _ %}
	{% if field == '_divider' %}
		<dt role="separator"></dt>
		<dd role="separator"><hr></dd>
	{% else %}
		{% set attr = attribute(book, field) %}
		{% if attr is not empty %}
		<dt class="entity-field{{ field }}" title="{{ field|humanize|trans }}">{{ field|humanize|trans }}</dt>
		<dd class="entity-field entity-field{{ field }}">
			{% if attr.timestamp is defined %}
				{{ _.printDate(attr) }}
			{% elseif field == 'linksByCategory' %}
				{% for category, links in attr %}
					<b>{{ ('BookLinkCategory.' ~ category)|trans }}</b>
					<ul>
					{% for link in links %}
						<li>{{ _.printLink(link) }}</li>
					{% endfor %}
					</ul>
				{% endfor %}
			{% elseif field == 'category' %}
				{{ _.printCategoryLink(attr) }}
			{% elseif field in searchableFields.fields %}
				{% if attr is same as(true) %}
					{{ _.printSearchLink('да', field, searchableFields) }}
				{% else %}
					{% for subvalue in attr|split('; ') %}
						{{ _.printSearchLink(subvalue, field, searchableFields) }}{% if not loop.last %},{% endif %}
					{% endfor %}
				{% endif %}
			{% elseif field == 'toc' %}
				{{ attr | format_whitespaces }}
			{% elseif field == 'infoSources' %}
				{{ attr | converturls | format_whitespaces }}
			{% elseif field == 'notes' %}
				{{ attr | converturls | autolink | format_whitespaces }}
			{% else %}
				{{ attr|nl2br }}
			{% endif %}
			{% if field == 'createdBy' %}
				{{ _.printUserMessageLink(attr, book) }}
			{% endif %}
			{% if field == 'sequence' and book.sequenceNr is not empty %}
				№{{ book.sequenceNr }}
			{% endif %}
			{% if field == 'subsequence' and book.subsequenceNr is not empty %}
				№{{ book.subsequenceNr }}
			{% endif %}
			{% if field == 'series' and book.seriesNr is not empty %}
				№{{ book.seriesNr }}
			{% endif %}
		</dd>
		{% endif %}
	{% endif %}
{% endmacro %}

{% macro printLink(link) %}
	<a href="{{ link.url }}" title="{{ link.title }} - {{ link.author }}" target="_blank">{{ link.author ? link.author ~ ': ' : '' }}{{ link.title|default(link.url|slice(0, 50)) }}</a>
{% endmacro %}

{% macro printSearchLink(term, field, searchableFields) -%}
	<a href="{{ path('books', { q: field ~ searchableFields.separator ~' '~ term }) }}">{{ term }}</a>
{%- endmacro %}

{% macro printSearchLinks(term, field, searchableFields) %}
	{% from _self import printSearchLink %}
	{% for subvalue in term|split('; ') %}{{ printSearchLink(subvalue, field, searchableFields) }}{% if not loop.last %}, {% endif %}{% endfor %}
{% endmacro %}

{% macro printSortLink(route, routeParams, field, direction, currentSort) %}
	{% set sort = field ~ '-' ~ direction %}
	{% set fieldHuman = field|humanize|trans %}
	<a href="{{ path(route, routeParams|merge({ sort: sort })) }}" title="{{ ('sort-'~direction)|trans({'%field%': fieldHuman}) }}"><span class="fa fa-fw {{ sort == currentSort ? 'fa-check' : '' }}"></span> {{ fieldHuman }} <span class="fa {{ direction == 'asc' ? 'fa-chevron-up' : 'fa-chevron-down' }}"></span></a>
{% endmacro %}

{% macro printMissingScansSearchLink(searchableFields) -%}
	<a href="{{ path('books', { q: 'nbScans' ~ searchableFields.separator ~' 0' }) }}">Липсват сканирани страници.</a>
{%- endmacro %}

{% macro printUser(user, book) %}
	{% from _self import printUserMessageLink %}
	{{ user }}
	{{ printUserMessageLink(user, book) }}
{% endmacro %}

{% macro printUserMessageLink(user, book) %}
{% if is_granted('ROLE_USER') %}
	<a href="{{ path('fos_message_thread_new', { username: user }|merge( book is not empty ? { subject: 'Относно №'~book.id } : {} )) }}" title="Изпращане на лично съобщение"><span class="fa fa-comment-o"></span></a>
{% endif %}
{% endmacro %}

{% macro printUserRolesInline(user) %}
	{% for role in user.roles %}
		- {{ ('roles.'~role)|trans }}
	{% endfor %}
{% endmacro %}

{% macro printDate(date) %}
	<time datetime="{{ date|date('c') }}">{{ date|date('d.m.Y H:i') }}</time>
{% endmacro %}

{% macro printTitleWithAuthor(book, glue) %}
<i>{{ book.title|maxlength(60) }}</i>{% if book.author is not empty %}{{ glue|default(' – ') }}{{ book.author|maxlength(40) }}{% endif %}
{% endmacro %}

{% macro printShowLink(book) %}
	<a href="{{ path('books_show', { id: book.id }) }}" title="Пълен преглед на запис №{{ book.id }}" class="btn btn-default btn-sm"><span class="fa fa-book"></span> №{{ book.id }}</a>
{% endmacro %}

{% macro printEditLink(book) %}
	<a href="{{ path('easyadmin', { action: 'edit', entity: 'Book', id: book.id }) }}" title="Редактиране на записа" class="btn btn-default btn-sm"><span class="fa fa-pencil"></span></a>
{% endmacro %}

{% macro printFullContentLink(book) %}
	{% if book.fullContent is not empty %}
		<a href="/fullcontent/{{ book.fullContent }}" title="Сваляне на пълното съдържание на книгата" class="btn btn-success btn-sm book-fullcontent" target="_blank"><span class="fa fa-file-pdf-o"></span></a>
		{% if '.djvu' in book.fullContent %}
			<a href="/djvu-html5/Djvu_html5.html?file=/fullcontent/{{ book.fullContent }}" title="Преглед на пълното съдържание на книгата" class="btn btn-success btn-sm book-fullcontent" target="_blank"><span class="fa fa-file-text-o"></span></a>
		{% endif %}
	{% endif %}
{% endmacro %}

{% macro printChitankaLink(book) %}
	{% if book.chitankaId is not empty %}
		<a href="//chitanka.info/book/{{ book.chitankaId }}" title="Книгата в Моята библиотека" class="btn btn-info btn-sm book-chitanka" target="_blank"><span class="fa fa-file-text-o"></span></a>
	{% endif %}
{% endmacro %}

{% macro printCategoryLink(category) %}
	<a href="{{ path('books_by_category', { slug: category.slug }) }}">{{ category.name }}</a>
{% endmacro %}

{% macro printBookButtons(book) %}
	{% import _self as _ %}
	{{ _.printShowLink(book) }}
	{{ _.printChitankaLink(book) }}
	{% if is_granted('ROLE_EDITOR') %}
		{{ _.printFullContentLink(book) }}
	{% endif %}
	{% if is_granted('ROLE_EDITOR') %}
		{{ _.printEditLink(book) }}
	{% endif %}
{% endmacro %}

{% macro printBookEditInfo(book, searchableFields) %}
	{% import _self as _ %}
	{% if book.isIncomplete %}
		<div class="text-danger">
			<span class="fa fa-warning"></span>
			Записът е непълен.
			{% if book.reasonWhyIncomplete is not empty %}
				({{ _.printSearchLink(book.reasonWhyIncomplete, 'reasonWhyIncomplete', searchableFields) }})
			{% endif %}
		</div>
	{% endif %}
	{% if book.nbScans == 0 %}
		<div class="text-danger">{{ _.printMissingScansSearchLink(searchableFields) }}</div>
	{% endif %}
{% endmacro %}

{% macro printBookThumbnailLink(book, width) %}
	{% from _self import thumbFrontCover %}
	<a href="{{ path('books_show', { id: book.id }) }}" class="thumbnail popover-trigger book-{{ book.state }}" data-content="{{ book.annotation|nl2br }}" data-placement="bottom" title="{{ book.title }} – {{ book.author }}">
		<img src="{{ thumbFrontCover(book.cover, width, book.title) }}">
	</a>
{% endmacro %}

{% macro printShelfPicker(book, form) %}
	{% set selectedShelfIds = book.shelves|ids %}
	{% if form.shelves.vars.preferred_choices %}
		<div class="btn-group important-shelf-picker" data-toggle="buttons">
			{% for choiceGroup in form.shelves.vars.preferred_choices %}
				{% for choice in choiceGroup.choices %}
					{% set checked = choice.value in selectedShelfIds %}
					<label class="btn btn-sm {{ checked ? 'active btn-info' : 'btn-default' }} shelf-{{ choice.value }} fa {{ choice.attr['data-icon'] }}" title="{{ choice.label }}">
						<input type="checkbox" value="{{ choice.value }}" {% if checked %}checked{% endif %}>
					</label>
				{% endfor %}
			{% endfor %}
		</div>
	{% endif %}
	{{ form_widget(form.shelves, { value: selectedShelfIds, id: "shelfPicker_"~book.id, attr: { class: "shelf-picker", 'data-book': book.id, 'data-live-search': 'true' } }) }}
{% endmacro %}

{% macro thumbCover(image, width, humanReadableName) %}{{ image|thumb('covers', width, humanReadableName) }}{% endmacro %}
{% macro thumbFrontCover(image, width, humanReadableName) %}{{ image|thumb('covers', width, humanReadableName ~ '-front') }}{% endmacro %}
{% macro thumbBackCover(image, width, humanReadableName) %}{{ image|thumb('covers', width, humanReadableName ~ '-back') }}{% endmacro %}
{% macro thumbScan(image, width) %}{{ image|thumb('scans', width) }}{% endmacro %}
