{% macro printField(book, field, searchableFields) %}
	{% if field == '_divider' %}
		<dt role="separator"></dt>
		<dd role="separator"><hr></dd>
	{% else %}
	{% set attr = attribute(book, field) %}
	{% if attr is not empty %}
		<dt>{{ field|humanize|trans }}</dt>
		<dd class="entity-field entity-field{{ field }}">
			{% if attr.timestamp is defined %}
				{{ _self.printDate(attr) }}
			{% elseif field == 'linksByCategory' %}
				{% for category, links in attr %}
					<b>{{ ('BookLinkCategory.' ~ category)|trans }}</b>
					<ul>
					{% for link in links %}
						<li>{{ _self.printLink(link) }}</li>
					{% endfor %}
					</ul>
				{% endfor %}
			{% elseif field == 'category' %}
				<a href="{{ path('books_by_category', { slug: attr.slug }) }}">{{ attr.name }}</a>
			{% elseif field in searchableFields.fields %}
				{% if field in ['title', 'subtitle', 'subtitle2', 'provisionPublisherSheets'] %}
					{{ _self.printSearchLink(attr, field, searchableFields) }}
				{% elseif attr is same as(true) %}
					{{ _self.printSearchLink('да', field, searchableFields) }}
				{% else %}
					{% for subvalue in attr|split(', ') %}
						{{ _self.printSearchLink(subvalue, field, searchableFields) }}{% if not loop.last %},{% endif %}
					{% endfor %}
				{% endif %}
			{% elseif field == 'infoSources' %}
				{{ attr | converturls | nl2br }}
			{% elseif field == 'notes' %}
				{{ attr | converturls | autolink | nl2br }}
			{% else %}
				{{ attr|nl2br }}
			{% endif %}
			{% if field == 'createdBy' %}
				{{ _self.printUserMessageLink(attr, book) }}
			{% endif %}
		</dd>
	{% endif %}
	{% endif %}
{% endmacro %}

{% macro printLink(link) %}
	<a href="{{ link.url }}" title="{{ link.title }} - {{ link.author }}">{{ link.author ? link.author ~ ': ' : '' }}{{ link.title|default(link.url|slice(0, 50)) }}</a>
{% endmacro %}

{% macro printSearchLink(term, field, searchableFields) -%}
	<a href="{{ path('books', { q: field ~ searchableFields.separator ~' '~ term }) }}">{{ term }}</a>
{%- endmacro %}

{% macro printUser(user, book) %}
	{{ user }}
	{{ _self.printUserMessageLink(user, book) }}
{% endmacro %}

{% macro printUserMessageLink(user, book) %}
	<a href="{{ path('fos_message_thread_new', { username: user }|merge( book is not empty ? { subject: 'Относно №'~book.id } : {} )) }}" title="Изпращане на лично съобщение"><span class="fa fa-comment-o"></span></a>
{% endmacro %}

{% macro printDate(date) %}
	<time datetime="{{ date|date('c') }}">{{ date|date('d.m.Y H:i') }}</time>
{% endmacro %}

{% macro printTitleWithAuthor(book, glue) %}
<i>{{ _self.maxlength(book.title, 60) }}</i>{% if book.author is not empty %}{{ glue|default(' – ') }}{{ _self.maxlength(book.author, 40) }}{% endif %}
{% endmacro %}

{% macro printShowLink(book) %}
	<a href="{{ path('books_show', { id: book.id }) }}" title="Пълен преглед на запис №{{ book.id }}" class="btn btn-default"><span class="fa fa-book"></span> №{{ book.id }}</a>
{% endmacro %}

{% macro printEditLink(book) %}
	<a href="{{ path('easyadmin', { action: 'edit', entity: 'Book', id: book.id }) }}" title="Редактиране на записа" class="btn btn-default"><span class="fa fa-pencil"></span></a>
{% endmacro %}

{% macro thumb(image, width) -%}
	{{ image|replace({'.jpg': '.'~width~'.jpg', '.png': '.'~width~'.png'}) }}
{%- endmacro %}

{% macro maxlength(string, maxlength, suffix) -%}
	{{ string|slice(0, maxlength) }}
	{% if string|length > maxlength %}
		{{ suffix|default('…') }}
	{% endif %}
{%- endmacro %}
