{% extends "@EasyAdmin/form/bootstrap_3_horizontal_layout.html.twig" %}

{% block form_label_class -%}
col-sm-4
{%- endblock form_label_class %}

{% block form_group_class -%}
col-sm-8
{%- endblock form_group_class %}

{% block checkbox_radio_row -%}
	{% spaceless %}
		<div class="form-group {% if not valid %}has-error{% endif %} field-{{ block_prefixes|slice(-2)|first }}">
			<div class="{{ block('form_label_class') }}"></div>
			<div class="{{ block('form_group_class') }}">
				{{ form_widget(form) }}
				{{ form_errors(form) }}
				{% if easyadmin.field.help|default('') != '' %}
					<span class="help-block"><i class="fa fa-info-circle"></i> {{ easyadmin.field.help|trans(domain = easyadmin.entity.translation_domain)|raw }}</span>
				{% endif %}
			</div>
		</div>
	{% endspaceless %}
{%- endblock checkbox_radio_row %}
