<!DOCTYPE html>
<html lang="bg">
	<head>
		{% block headers %}
			<meta charset="utf-8">
			<meta name="description" content="{% block description '' %}">
			<meta name="viewport" content="initial-scale=1.0, width=device-width">
			<title>{{ block('title') is defined ? block('title')|replace({'<br>': ' — '})|striptags ~ ' — ' ~ sitename : sitename }}</title>
			<link rel="icon" href="{{ asset('favicon.png') }}" type="image/png">
			<link rel="apple-touch-icon" href="{{ asset('apple-touch-icon.png') }}">
			{% block stylesheets %}
				<link rel="stylesheet" href="{{ asset('bundles/easyadmin/stylesheet/bootstrap.min.css') }}">
				<link rel="stylesheet" href="{{ asset('bundles/easyadmin/stylesheet/font-awesome.min.css') }}">
				<link rel="stylesheet" href="{{ asset('lightgallery/css/lightgallery.min.css') }}">
				<link href="{{ asset('css/frontend.css') }}" rel="stylesheet">
			{% endblock %}
		{% endblock headers %}
	</head>
	<body class="{% spaceless %}{% block body_class '' %}{% endspaceless %}">
		{% block body %}
			<header class="overall-header">
				<div class="container">
					{% block navbar %}
						{% include 'navbar.html.twig' %}
					{% endblock %}
				</div>
			</header>
			<div id="content">
				<div class="container">
					{% block messages %}
						{% include 'messages.html.twig' %}
					{% endblock %}
					{% block content '' %}
				</div>
			</div>
			<footer class="overall-footer">
				<div class="container">
					{% block footer %}
						{% include 'footer.html.twig' %}
					{% endblock %}
				</div>
			</footer>
		{% endblock %}
		{% block javascripts %}
			<script src="{{ asset('bundles/easyadmin/javascript/jquery.min.js') }}"></script>
			<script src="{{ asset('bundles/easyadmin/javascript/bootstrap.min.js') }}"></script>
			<script src="{{ asset('bundles/easyadmin/javascript/jquery.highlight.min.js') }}"></script>
			<script src="{{ asset('lightgallery/js/lightgallery.min.js') }}"></script>
			<script src="{{ asset('lightgallery-plugins/js/lg-zoom.min.js') }}"></script>
			<script src="{{ asset('lightgallery-plugins/js/lg-fullscreen.min.js') }}"></script>
			<script src="{{ asset('js/frontend.js') }}"></script>
			<script>
				$('body').lightGallery({
					selector: '.thumb-link',
					subHtmlSelectorRelative: true,
					hideBarsDelay: 2000
				});
			</script>
		{% endblock %}
		{% block custom_javascript '' %}
	</body>
</html>
