{% import '_macros.html.twig' as _ %}
<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Включване/изключване на навигацията</span>
				<span class="fa fa-navicon"></span>
			</button>
			<a class="navbar-brand" href="{{ path('homepage') }}">{{ sitename }}</a>
		</div>

		<div class="collapse navbar-collapse" id="navbar">
			<ul class="nav navbar-nav navbar-left">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Книги <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="{{ path('books') }}"><span class="fa fa-sort-alpha-asc fa-fw"></span> По заглавие</a></li>
						<li><a href="{{ path('books', { sort: 'createdAt-asc' }) }}"><span class="fa fa-history fa-fw"></span> По дата на добавяне</a></li>
						<li><a href="{{ path('books_categories') }}"><span class="fa fa-tag fa-fw"></span> По категория</a></li>
					</ul>
				</li>
				<li>
					<a href="{{ path('shelves') }}" title="Публични рафтове">Рафтове</a>
				</li>
			</ul>
			{% if app.user.isRegistered %}
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" title="Групи: {{ _.printUserRolesInline(app.user) }}"><span class="fa fa-user"></span> {{ app.user.username }} <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li>
								<a href="{{ path('my_shelves') }}"><span class="fa fa-folder-o fa-fw"></span> Моите рафтове</a>
							</li>
							<li role="separator" class="divider"></li>
							<li>
								<a href="{{ path('fos_message_inbox') }}"><span class="fa fa-comments-o fa-fw"></span> Лични съобщения</a>
							</li>
							<li role="separator" class="divider"></li>
							{% if is_granted('ROLE_EDITOR') %}
								<li><a href="{{ path('easyadmin', {'action': 'new', 'entity': 'Book'}) }}"><span class="fa fa-plus fa-fw"></span> Нова книга</a></li>
							{% endif %}
							<li><a href="{{ path('books', {q: 'createdBy: '~app.user.username}) }}"><span class="fa fa-address-book fa-fw"></span> Създадени от мен</a></li>
							<li><a href="{{ path('books_incomplete') }}"><span class="fa fa-battery-half fa-fw"></span> Непълни записи</a></li>
							<li><a href="{{ path('books_revisions') }}"><span class="fa fa-eraser fa-fw"></span> Промени</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="{{ path('chitanka_wiki', { page: 'docs/books' }) }}"><span class="fa fa-file-text-o fa-fw"></span> Как се въвеждат данните</a></li>
						</ul>
					</li>
				</ul>

			{% else %}
				<div class="navbar-text navbar-right">
					<a href="//chitanka.info/login?returnto={{ url('homepage')|url_encode }}" class="navbar-link"><span class="fa fa-sign-in"></span> Вход</a>
				</div>
			{% endif %}
			{% include 'search_form.html.twig' with { 'class': 'navbar-form navbar-right' } %}
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>
