<form role="form" class="{{ class|default('') }} book-search-form" method="get" action="{{ searchAction|default(path('books')) }}">
	{% set mode = app.request.get('_mode') %}
	{% if mode is not empty %}
		<input type="hidden" name="_mode" value="{{ mode }}">
	{% endif %}
	<div class="form-group">
		<label class="sr-only" for="q">Заглавие, автор, …</label>
		<div class="input-group search-input">
			{% if searchScope is defined %}
				<div class="input-group-btn">
					<button type="button" class="btn btn-default dropdown-toggle js-search-action-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="button-text">{{ ('search.'~searchScope)|trans }}</span> <span class="caret"></span></button>
					<ul class="dropdown-menu js-search-actions">
						<li><a href="{{ searchAction }}">{{ ('search.'~searchScope)|trans }}</a></li>
						<li><a href="{{ path('books') }}">Навсякъде</a></li>
					</ul>
				</div>
			{% endif %}
			<input placeholder="заглавие, автор…" value="{{ app.request.get('q') }}" tabindex="1" class="form-control" name="q" id="q" type="search">
			<span class="input-group-btn">
				<button type="submit" class="btn btn-default"><span class="fa fa-search"></span><span class="sr-only">Търсене</span></button>
			</span>
		</div>
	</div>
</form>
