{% extends "layout.html.twig" %}

{% block title %}Публични рафтове{% endblock %}

{% block content %}

	<h1 class="page-header">{{ block('title') }}</h1>
	<table class="table table-condensed table-hover">
		<tr>
			<th>Рафт</th>
			<th>Потребител</th>
			<th>Описание</th>
			<th title="Брой книги в рафта">#</th>
		</tr>
	{% for shelf in pager.currentPageResults %}
		<tr>
			<td><span class="fa fa-fw {{ shelf.icon }} shelf-icon"></span> <a href="{{ path('shelf', { id: shelf.id }) }}">{{ shelf.name }}</a></td>
			<td>{{ shelf.creator }}</td>
			<td title="{{ shelf.description }}">{{ shelf.description|maxlength(40) }}</td>
			<td><span class="badge">{{ shelf.nbBooks }}</span></td>
		</tr>
	{% endfor %}
	</table>
	{% include 'pager.html.twig' %}

{% endblock %}
