<div class="media well book" itemscope itemtype="http://schema.org/Book">
	<div class="media-left">
		<div class="thumbnail" style="width: 210px">
			<img src="/thumb/{{ book.cover|replace({'.jpg': '.200.jpg'}) }}" width="200" data-featherlight="/thumb/{{ book.cover|replace({'.jpg': '.800.jpg'}) }}">
		</div>
	</div>
	<div class="media-body">
		<dl class="dl-horizontal">
			{% for field in fields %}
				{% if attribute(book, field) is not empty %}
					<dt>{{ field|trans }}</dt>
					<dd>{{ attribute(book, field) }}</dd>
				{% endif %}
			{% endfor %}
			<dt>...</dt>
			<dd>
				<a href="{{ path('books_show', { id: book.id }) }}" title="Пълен преглед на записа" class="btn btn-default"><span class="fa fa-book"></span></a>
				<a href="{{ path('easyadmin') }}?action=edit&entity=Book&id={{ book.id }}" title="Редактиране на записа" class="btn btn-default"><span class="fa fa-pencil"></span></a>
				{% if book.isIncomplete %}
					<span class="text-danger">Записът е непълен.</span>
				{% endif %}
				{% if book.nbScans == 0 %}
					<span class="text-danger">Липсват сканирани страници.</span>
				{% endif %}
			</dd>
		</dl>
	</div>
</div>
