{% import '_macros.html.twig' as _ %}
<div class="well book-short book-{{ book.state }}" itemscope itemtype="http://schema.org/Book">
	<div class="row">
		<div class="col-md-4">
			<div class="thumbnail popover-trigger" data-content="{{ book.annotation|nl2br }}" data-placement="right" style="width: 160px; max-width: 100%">
				{% if book.cover %}
					<a href="{{ _.thumbFrontCover(book.cover, 1000, book.title) }}" class="thumb-link">
						<img src="{{ _.thumbFrontCover(book.cover, 150, book.title) }}" width="150">
					</a>
				{% else %}
					<img src="{{ _.thumbCover('nocover.png', 150) }}" width="150">
				{% endif %}
			</div>
		</div>
		<div class="col-md-8">
			<div class="book-title-and-author">
				<div class="book-title">
					<a href="{{ path('books_show', { id: book.id }) }}">{{ book.title }}{% if book.volumeTitle is not empty %}<span class="book-volumeTitle"> &bull; {{ book.volumeTitle }}</span>{% endif %}</a>
				</div>
				{% if book.subtitle is not empty %}
					<div class="book-subtitle">{{ _.printSearchLink(book.subtitle, 'subtitle', searchableFields) }}</div>
				{% endif %}
				{% if book.author is not empty %}
					<div class="book-author">{{ _.printSearchLinks(book.author, 'author', searchableFields) }}</div>
				{% endif %}
			</div>
			<div class="book-snippet-extra-info">
				{% if book.sequence is not empty %}
					<div class="book-sequence">
						<span class="fa fa-list-alt fa-fw"></span>
						{{ _.printSearchLink(book.sequence, 'sequence', searchableFields) }}{% if book.sequenceNr is not empty %}, <span class="book-sequenceNr">№{{ book.sequenceNr }}</span>{% endif %}
					</div>
				{% endif %}
				{% if book.publisher is not empty %}
					<div class="book-publisher">
						<span class="fa fa-sun-o fa-fw"></span>
						{{ _.printSearchLinks(book.publisher, 'publisher', searchableFields) }}{% if book.publishingYear is not empty %}, <span class="book-publishingYear">{{ _.printSearchLink(book.publishingYear, 'publishingYear', searchableFields) }}</span>{% endif %}
					</div>
				{% endif %}
				{% if book.category is not empty %}
					<div class="book-category">
						<span class="fa fa-folder-o fa-fw"></span>
						{{ _.printCategoryLink(book.category) }}
					</div>
				{% endif %}
			</div>
			<div class="book-buttons">
				{% if addToShelfForms[book.id] is defined %}
					{{ _.printShelfPicker(book, addToShelfForms[book.id]) }}
				{% endif %}
				{{ _.printBookButtons(book) }}
				<span class="book-snippet-extra-info">
					&bull; <span class="fa fa-user-plus"></span> {{ _.printSearchLink(book.createdBy, 'createdBy', searchableFields) }} {{ _.printUserMessageLink(book.createdBy, book) }}
				</span>
				{{ _.printBookEditInfo(book, searchableFields) }}
			</div>
		</div>
	</div>
</div>
