{% import '_macros.html.twig' as _ %}
<div class="well book" itemscope itemtype="http://schema.org/Book">
	<div class="row">
		<div class="col-xs-5 col-md-3">
			<div class="thumbnail" style="width: 210px; max-width: 100%">
				{% if book.cover %}
					<img src="/thumb/{{ _.thumb(book.cover, 200) }}" width="200" data-featherlight="/thumb/{{ _.thumb(book.cover, 800) }}">
				{% else %}
					<img src="/thumb/nocover.200.png" width="200">
				{% endif %}
			</div>
		</div>
		<div class="col-xs-7 col-md-9">
			<dl class="dl-horizontal">
				{% for field in fields %}
					{{ _.printField(book, field, searchableFields) }}
				{% endfor %}
				<dt>...</dt>
				<dd>
					<a href="{{ path('books_show', { id: book.id }) }}" title="Пълен преглед на записа" class="btn btn-default"><span class="fa fa-book"></span></a>
					{% if is_granted('ROLE_EDITOR') %}
						{{ _.printEditLink(book) }}
					{% endif %}
					{% if book.isIncomplete %}
						<span class="text-danger">Записът е непълен.</span>
					{% endif %}
					{% if book.nbScans == 0 %}
						<span class="text-danger">Липсват сканирани страници.</span>
					{% endif %}
				</dd>
			</dl>
		</div>
	</div>
</div>
