{% extends "layout.html.twig" %}

{% import '_macros.html.twig' as _ %}

{% block title %}
	Промени – <a href="{{ path('books_show', { id: book.id }) }}">{{ _.printTitleWithAuthor(book) }}</a>
{% endblock %}

{% block content %}

	<h1>{{ block('title') }}</h1>

	<ul class="list-group">
		{% for revision in book.revisions %}
			<li class="list-group-item"><a href="#revision-{{ revision.id }}">{{ revision.createdBy }} &middot; {{ _.printDate(revision.createdAt) }} &times;{{ revision.diffs|length }}</a></li>
		{% endfor %}
	</ul>

	{% for revision in book.revisions %}
		<div id="revision-{{ revision.id }}" class="panel panel-default">
			<div class="panel-heading">
				{{ _.printUser(revision.createdBy) }} &middot; {{ _.printDate(revision.createdAt) }}
			</div>
			<div class="panel-body">
				<table class="table table-bordered table-condensed">
					<tr>
						<th style="width:20%">Поле</th>
						<th style="width:40%">Стара стойност</th>
						<th style="width:40%">Нова стойност</th>
					</tr>
					{% for modifiedField, diffValues in revision.diffs %}
						{% if modifiedField != 'updatedAt' %}
							<tr>
								<th>{{ modifiedField|humanize|trans }}</th>
								<td><div class="del-block">{{ diffValues.0|nl2br }}</div></td>
								<td><div class="ins-block">{{ diffValues.1|nl2br }}</div></td>
							</tr>
						{% endif %}
					{% endfor %}
				</table>
			</div>
		</div>
	{% endfor %}

	<div style="height: 500px"></div>
{% endblock %}
