{% extends "layout.html.twig" %}

{% import '_macros.html.twig' as _ %}

{% block title %}
	{% if book.author is not empty %}
		<span class="author">{{ _.printSearchLinks(book.author, 'author', searchableFields) }}</span><br>
	{% endif %}
	<span class="title">{{ _.printBookTitle(book) }}</span>
	{% if book.volumeTitle is not empty %}
		<span class="book-volumeTitle">• {{ book.volumeTitle }}</span>
	{% endif %}
{% endblock %}

{% set opengraph = {
	'title': book.titleWithVolume,
	'type': 'book',
	'url': url('books_show', {'id': book.id}),
	'image': app.request.schemeAndHttpHost ~ _.thumbFrontCover(book.cover, 300, book.title),
	'image:alt': 'Корица',
	'image:width': 300
} %}

{% set descriptionParts = [] %}
{% if book.author is not empty %}
	{% set descriptionParts = descriptionParts|merge(['от '~book.authorsAtMost(2)]) %}
{% endif %}
{% if book.publisher is not empty %}
	{% set descriptionParts = descriptionParts|merge([book.publisher]) %}
{% endif %}
{% if book.publishingYear is not empty %}
	{% set descriptionParts = descriptionParts|merge([book.publishingYear]) %}
{% endif %}
{% if book.category is not empty %}
	{% set descriptionParts = descriptionParts|merge(['категория: '~book.category.name]) %}
{% endif %}
{% block description %}{{ descriptionParts|join(' • ') }}{% endblock %}

{% block content %}

	<h1 class="book-heading">{{ block('title') }}</h1>

	<ol class="breadcrumb">
		<li><a href="{{ path('books') }}">Книги</a></li>
		<li class="active">№ {{ book.id }}</li>
	</ol>

	<div class="row" itemscope itemtype="http://schema.org/Book">
		<div class="col-md-4">
			<a href="{{ _.thumbFrontCover(book.cover, 1000, book.title) }}" class="thumbnail thumb-link" style="width: 310px; max-width: 100%" data-sub-html="Корица">
				<img src="{{ _.thumbFrontCover(book.cover, 300, book.title) }}" width="300">
			</a>
			{% if book.canHaveScans or book.hasBackCover %}
				<a href="{{ _.thumbBackCover(book.backCover, 1000, book.title) }}" class="thumbnail thumb-link" style="width: 310px; max-width: 100%" data-sub-html="Задна корица">
					<img src="{{ _.thumbBackCover(book.backCover, 300, book.title) }}" width="300">
				</a>
			{% endif %}
		</div>
		<div class="col-md-8">
			{% if book.isIncomplete %}
				<p class="text-danger">
					Записът е непълен.
					{% if book.reasonWhyIncomplete is not empty %}
						({{ _.printSearchLink(book.reasonWhyIncomplete, 'reasonWhyIncomplete', searchableFields) }})
					{% endif %}
					{% if book.hasOnlyScans %}
						({{ _.printSearchLink(book.hasOnlyScans, 'hasOnlyScans', searchableFields) }})
					{% endif %}
				</p>
			{% endif %}
			<dl class="dl-horizontal">
				{% for field in fields %}
					{{ _.printField(book, field, searchableFields) }}
				{% endfor %}
				{% if book.hasRevisions %}
					<dt>Промени</dt>
					<dd>
						<ul class="list-unstyled">
							{% for revision in book.revisions %}
								<li><a href="{{ path('books_show_revisions', { id: book.id }) }}#revision-{{ revision.id }}">{{ revision.createdBy }} &middot; {{ _.printDate(revision.createdAt) }} &times;{{ revision.diffs|length }}</a></li>
							{% endfor %}
						</ul>
					</dd>
				{% endif %}
				{% if addToShelfForms[book.id] is defined %}
					<dt>Рафтове</dt>
					<dd>{{ _.printShelfPicker(book, addToShelfForms[book.id]) }}</dd>
				{% endif %}
				{% if book.hasPublicShelves() %}
					<dt>Чужди рафтове</dt>
					<dd>
						<ul>
						{% for shelf in book.publicShelves %}
							<li><span class="fa fa-fw {{ shelf.icon }} shelf-icon"></span> <a href="{{ path('shelf', { id: shelf.id }) }}">{{ shelf.name }}</a> от {{ shelf.creator }}</li>
						{% endfor %}
						</ul>
					</dd>
				{% endif %}
				<dt>...</dt>
				<dd>
					<p>
					{{ _.printFullContentLink(book) }}
					{{ _.printChitankaLink(book) }}
					{% if is_granted('ROLE_EDITOR') %}
						{{ _.printEditLink(book) }}
					{% endif %}
					</p>
					{% if book.hasContentFiles %}
						<ul>
							{% for contentFile in book.contentFiles %}
								<li>{{ _.printContentLink(contentFile) }}</li>
							{% endfor %}
						</ul>
					{% endif %}

					{% if book.covers is not empty %}
						<p><a href="{{ path('books_show_covers', {id: book.id}) }}" class="btn btn-default"><span class="fa fa-file-image-o"></span> Корици <span class="badge">{{ book.nbCovers }}</span></a></p>
					{% endif %}

					{% if book.canHaveScans and app.user.canAccessBookContents(book) %}
						{% if book.scans is not empty %}
							<p><a href="{{ path('books_show_scans', {id: book.id}) }}" class="btn btn-default"><span class="fa fa-file-text-o"></span> Сканирани страници <span class="badge">{{ book.nbScans }}</span></a></p>
						{% elseif not book.hasContentFiles %}
							<p class="alert alert-danger"><span class="fa fa-warning"></span> {{ _.printMissingScansSearchLink(searchableFields) }}</p>
						{% endif %}
					{% endif %}

					{% if app.user.canVerifyBook(book) %}
						<form action="{{ path('books_verify', {id: book.id}) }}" method="post">
							<input type="hidden" name="_method" value="PUT">
							<button type="submit" class="btn btn-primary">Верифициране</button>
						</form>
					{% endif %}
				</dd>
			</dl>
		</div>
	</div>

{% endblock %}
