{% extends "layout.html.twig" %}

{% set title %}
<i>{{ book.title }}</i>
{% if book.author is not empty %}
	от {{ book.author }}
{% endif %}
{% endset %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

	<h1>{{ title }}</h1>

	<ol class="breadcrumb">
		<li><a href="{{ path('books') }}">Книги</a></li>
		<li class="active">№ {{ book.id }}</li>
	</ol>

	<div class="media well" itemscope itemtype="http://schema.org/Book">
		<div class="media-left" data-featherlight-gallery data-featherlight-filter="a">
			<a href="/thumb/{{ book.cover|replace({'.jpg': '.800.jpg'}) }}" class="thumbnail" style="width: 310px">
				<img src="/thumb/{{ book.cover|replace({'.jpg': '.300.jpg'}) }}" width="300">
			</a>
			<a href="/thumb/{{ book.backCover|replace({'.jpg': '.800.jpg'}) }}" class="thumbnail" style="width: 310px">
				<img src="/thumb/{{ book.backCover|replace({'.jpg': '.300.jpg'}) }}" width="300">
			</a>
		</div>
		<div class="media-body">
			{% if book.isIncomplete %}
				<p class="text-danger">Записът е непълен.</p>
			{% endif %}
			<dl class="dl-horizontal">
				{% for field in fields %}
					{% set attr = attribute(book, field) %}
					{% if attr is not empty %}
						<dt>{{ field|trans }}</dt>
						<dd>
							{% if attr.timestamp is defined %}
								{{ attr|date('d.m.Y H:s') }}
							{% else %}
								{{ attr|nl2br }}
							{% endif %}
							{% if field == 'createdBy' %}
								<a href="{{ path('fos_message_thread_new', { username: attr }) }}" title="Изпращане на лично съобщение"><span class="fa fa-comment-o"></span></a>
							{% endif %}
						</dd>
					{% endif %}
				{% endfor %}
				<dt>...</dt>
				<dd>
					<a href="{{ path('easyadmin') }}?action=edit&entity=Book&id={{ book.id }}" title="Редактиране на записа" class="btn btn-default"><span class="fa fa-pencil"></span></a>
				</dd>
			</dl>
		</div>
	</div>

	<section data-featherlight-gallery data-featherlight-filter="a">
	<h2>Сканирани страници</h2>
	<div class="row">
		{% for i in range(1, 12) %}
			{% set scan = attribute(book, "scan"~i) %}
			{% if scan is not empty %}
				<div class="col-xs-6 col-md-3">
					<a href="/thumb/{{ scan|replace({'.jpg': '.800.jpg'}) }}" class="thumbnail">
						<img src="/thumb/{{ scan|replace({'.jpg': '.300.jpg'}) }}" width="300" style="max-height: 370px">
					</a>
				</div>
			{% endif %}
		{% endfor %}
	</div>
		{% if book.nbScans == 0 %}
			<p class="text-danger">Липсват сканирани страници.</p>
		{% endif %}
	</section>

{% endblock %}
