{% extends "layout.html.twig" %}

{% block title %}
	{% if book.author is not empty %}
		<span class="author">{{ book.author }}</span><br>
	{% endif %}
	<span class="title">{{ book.title }}</span>
{% endblock %}

{% block content %}

	{% import '_macros.html.twig' as _ %}

	<h1 class="book-heading">{{ block('title') }}</h1>

	<ol class="breadcrumb">
		<li><a href="{{ path('books') }}">Книги</a></li>
		<li class="active">№ {{ book.id }}</li>
	</ol>

	<div class="row" itemscope itemtype="http://schema.org/Book">
		<div class="col-md-4" data-featherlight-gallery data-featherlight-filter="a">
			{% if book.cover %}
				<a href="/thumb/{{ _.thumb(book.cover, 1000) }}" class="thumbnail" style="width: 310px; max-width: 100%">
					<img src="/thumb/{{ _.thumb(book.cover, 300) }}" width="300">
				</a>
			{% else %}
				<img src="/thumb/nocover.300.png" width="300" class="thumbnail">
			{% endif %}
			{% if book.backCover %}
				<a href="/thumb/{{ _.thumb(book.backCover, 1000) }}" class="thumbnail" style="width: 310px; max-width: 100%">
					<img src="/thumb/{{ _.thumb(book.backCover, 300) }}" width="300">
				</a>
			{% else %}
				<img src="/thumb/nobackcover.300.png" width="300" class="thumbnail">
			{% endif %}
		</div>
		<div class="col-md-8">
			{% if book.isIncomplete %}
				<p class="text-danger">
					Записът е непълен.
					{% if book.reasonWhyIncomplete is not empty %}
						({{ _.printSearchLink(book.reasonWhyIncomplete, 'reasonWhyIncomplete', searchableFields) }})
					{% endif %}
				</p>
			{% endif %}
			<dl class="dl-horizontal">
				{% for field in fields %}
					{{ _.printField(book, field, searchableFields) }}
				{% endfor %}
				{% if book.hasRevisions %}
					<dt>Промени</dt>
					<dd>
						<ul class="list-unstyled">
							{% for revision in book.revisions %}
								<li><a href="{{ path('books_show_revisions', { id: book.id }) }}#revision-{{ revision.id }}">{{ revision.createdBy }} &middot; {{ _.printDate(revision.createdAt) }} &times;{{ revision.diffs|length }}</a></li>
							{% endfor %}
						</ul>
					</dd>
				{% endif %}
				<dt>...</dt>
				<dd>
					{% if is_granted('ROLE_EDITOR') %}
						{{ _.printEditLink(book) }}
					{% endif %}
				</dd>
			</dl>
		</div>
	</div>

	<section data-featherlight-gallery data-featherlight-filter="a">
	<h2>Сканирани страници</h2>
	<div class="row">
		{% for scan in book.scans %}
			<div class="col-xs-6 col-md-3">
				<a href="/thumb/{{ _.thumb(scan.name, 1000) }}" class="thumbnail">
					<img src="/thumb/{{ _.thumb(scan.name, 300) }}" width="300" style="max-height: 370px" title="{{ scan }}">
				</a>
			</div>
		{% else %}
			<p class="text-danger">{{ _.printMissingScansSearchLink(searchableFields) }}</p>
		{% endfor %}
	</div>
	</section>

{% endblock %}
