{% extends "layout.html.twig" %}

{% block title %}{{ book.title }}{% endblock %}

{% block content %}

	<h1><i>{{ book.title }}</i></h1>

	<div class="media well" itemscope itemtype="http://schema.org/Book">
		<div class="media-left">
			<div class="thumbnail" style="width: 310px">
				<img src="/thumb/{{ book.cover|replace({'.jpg': '.300.jpg'}) }}" width="300" data-featherlight="/thumb/{{ book.cover|replace({'.jpg': '.800.jpg'}) }}">
			</div>
			<div class="thumbnail" style="width: 310px">
				<img src="/thumb/{{ book.backCover|replace({'.jpg': '.300.jpg'}) }}" width="300" data-featherlight="/thumb/{{ book.backCover|replace({'.jpg': '.800.jpg'}) }}">
			</div>
		</div>
		<div class="media-body">
			<dl class="dl-horizontal">
				<dt>Номер</dt>
				<dd>{{ book.id }}</dd>
				{% for field in fields %}
					{% if attribute(book, field) is not empty %}
						<dt>{{ field|trans }}</dt>
						<dd>{{ attribute(book, field)|nl2br }}</dd>
					{% endif %}
				{% endfor %}
			</dl>
		</div>
	</div>

	<h2>Сканирани страници</h2>
	<div class="row">
		{% for i in range(1, 10) %}
			{% set scan = attribute(book, "scan"~i) %}
			{% if scan is not empty %}
				<div class="col-xs-6 col-md-3">
					<a href="/thumb/{{ scan|replace({'.jpg': '.max.jpg'}) }}" class="thumbnail">
						<img src="/thumb/{{ scan|replace({'.jpg': '.300.jpg'}) }}" width="300" style="max-height: 370px" data-featherlight="/thumb/{{ scan|replace({'.jpg': '.800.jpg'}) }}">
					</a>
				</div>
			{% endif %}
		{% endfor %}
	</div>

{% endblock %}
