{% extends "layout.html.twig" %}

{% import '_macros.html.twig' as _ %}

{% block title %}
	{% if book.author is not empty %}
		<span class="author">{{ _.printSearchLinks(book.author, 'author', searchableFields) }}</span><br>
	{% endif %}
	<span class="title">{{ book.title }}</span>
	{% if book.volumeTitle is not empty %}
		<span class="book-volumeTitle">• {{ book.volumeTitle }}</span>
	{% endif %}
{% endblock %}

{% block content %}

	<h1 class="book-heading">{{ block('title') }}</h1>

	<ol class="breadcrumb">
		<li><a href="{{ path('books') }}">Книги</a></li>
		<li class="active">№ {{ book.id }}</li>
	</ol>

	<div class="row" itemscope itemtype="http://schema.org/Book">
		<div class="col-md-4">
			<a href="{{ _.thumbFrontCover(book.cover, 1000, book.title) }}" class="thumbnail thumb-link" style="width: 310px; max-width: 100%" data-sub-html="Корица">
				<img src="{{ _.thumbFrontCover(book.cover, 300, book.title) }}" width="300">
			</a>
			<a href="{{ _.thumbBackCover(book.backCover, 1000, book.title) }}" class="thumbnail thumb-link" style="width: 310px; max-width: 100%" data-sub-html="Задна корица">
				<img src="{{ _.thumbBackCover(book.backCover, 300, book.title) }}" width="300">
			</a>
		</div>
		<div class="col-md-8">
			{% if book.isIncomplete %}
				<p class="text-danger">
					Записът е непълен.
					{% if book.reasonWhyIncomplete is not empty %}
						({{ _.printSearchLink(book.reasonWhyIncomplete, 'reasonWhyIncomplete', searchableFields) }})
					{% endif %}
				</p>
			{% endif %}
			<dl class="dl-horizontal">
				{% for field in fields %}
					{{ _.printField(book, field, searchableFields) }}
				{% endfor %}
				{% if book.hasRevisions %}
					<dt>Промени</dt>
					<dd>
						<ul class="list-unstyled">
							{% for revision in book.revisions %}
								<li><a href="{{ path('books_show_revisions', { id: book.id }) }}#revision-{{ revision.id }}">{{ revision.createdBy }} &middot; {{ _.printDate(revision.createdAt) }} &times;{{ revision.diffs|length }}</a></li>
							{% endfor %}
						</ul>
					</dd>
				{% endif %}
				{% if addToShelfForms[book.id] is defined %}
					<dt>Рафтове</dt>
					<dd>{{ _.printShelfPicker(book, addToShelfForms[book.id]) }}</dd>
				{% endif %}
				<dt>...</dt>
				<dd>
					{% if is_granted('ROLE_EDITOR') %}
						{{ _.printFullContentLink(book) }}
					{% endif %}
					{{ _.printChitankaLink(book) }}
					{% if is_granted('ROLE_EDITOR') %}
						{{ _.printEditLink(book) }}
					{% endif %}
				</dd>
			</dl>
		</div>
	</div>

	{% if book.hasOtherCovers %}
		<h2>Други корици</h2>
		{% for coverRow in book.otherCovers|batch(4) %}
		<div class="row">
			{% for cover in coverRow %}
				<div class="col-xs-6 col-md-3">
				<a href="{{ _.thumbCover(cover.name, 1000, book.title) }}" class="thumbnail thumb-link" data-sub-html=".caption">
					<figure>
						<img src="{{ _.thumbCover(cover.name, 300, book.title~'-'~cover.type) }}" style="max-height: 370px">
						<figcaption class="caption">
							{% if cover.title %}
								{{ cover.title }} •
							{% endif %}
							{{ ('BookCover.'~cover.type)|trans }}
						</figcaption>
					</figure>
				</a>
				</div>
			{% endfor %}
		</div>
		{% endfor %}
	{% endif %}

	<section>
	<h2>Сканирани страници</h2>
	{% for scanRow in book.scans|batch(4) %}
		<div class="row">
			{% for scan in scanRow %}
				<div class="col-xs-6 col-md-3">
				<a href="{{ _.thumbScan(scan.name, 1000) }}" class="thumbnail thumb-link" data-sub-html=".caption">
					<figure>
						<img src="{{ _.thumbScan(scan.name, 300) }}" style="max-height: 370px">
						<figcaption class="caption">
							{{ scan.title is not empty ? scan : ('Missing scan title'|trans) }}
						</figcaption>
					</figure>
				</a>
				</div>
			{% endfor %}
		</div>
	{% else %}
		<div class="alert alert-danger"><span class="fa fa-warning"></span> {{ _.printMissingScansSearchLink(searchableFields) }}</div>
	{% endfor %}
	</section>

{% endblock %}
