{% import '_macros.html.twig' as _ %}
<div class="card card-body bg-light book-card book-{{ book.state }}" itemscope itemtype="http://schema.org/Book">
	<div class="row">
		<div class="col-md-4">
			<a href="{{ path('books_show', { id: book.id }) }}" class="popover-trigger" data-content="{{ book.annotation|nl2br }}" data-placement="right">
				<img class="img-thumbnail" src="{{ _.thumbFrontCover(book.cover, 200, book.title) }}" width="150" alt="Корица">
			</a>
		</div>
		<div class="col-md-8">
			<div class="book-title-and-author">
				<div class="entity-field entity-field-title book-title">
					<a href="{{ path('books_show', { id: book.id }) }}">{{ _.printBookTitle(book) }}{% if book.volumeTitle is not empty %}<span class="book-volumeTitle"> &bull; {{ book.volumeTitle }}</span>{% endif %}</a>
				</div>
				{% if book.subtitle is not empty %}
					<div class="entity-field entity-field-subtitle book-subtitle">{{ _.printSearchLinks(book.subtitle, 'subtitle', searchableFields) }}</div>
				{% endif %}
				{% if book.author is not empty %}
					<div class="entity-field entity-field-author book-author">{{ _.printSearchLinks(book.author, 'author', searchableFields) }}</div>
				{% endif %}
			</div>
			<div class="book-snippet-extra-info">
				{% if book.sequence is not empty %}
					<div class="entity-field entity-field-sequence book-sequence">
						<span class="fa fa-list-alt fa-fw"></span>
						{{ _.printSearchLink(book.sequence, 'sequence', searchableFields) }}{% if book.sequenceNr is not empty %}, <span class="book-sequenceNr">№{{ book.sequenceNr }}</span>{% endif %}
					</div>
				{% endif %}
				{% if book.series is not empty and not book.isSeriesSameAsTheSequence %}
					<div class="entity-field entity-field-series book-series">
						<span class="fa fa-list fa-fw"></span>
						{{ _.printSearchLink(book.series, 'series', searchableFields) }}{% if book.seriesNr is not empty %}, <span class="book-seriesNr">№{{ book.seriesNr }}</span>{% endif %}
					</div>
				{% endif %}
				{% if book.publisher is not empty %}
					<div class="entity-field entity-field-publisher book-publisher">
						<span class="fa fa-sun-o fa-fw"></span>
						{{ _.printSearchLinks(book.publisher, 'publisher', searchableFields) }}{% if book.publishingYear is not empty %}, <span class="book-publishingYear">{{ _.printSearchLink(book.publishingYear, 'publishingYear', searchableFields) }}</span>{% endif %}
					</div>
				{% endif %}
				{% if book.category is not empty %}
					<div class="book-category">
						<span class="fa fa-folder-o fa-fw"></span>
						{{ _.printCategoryLink(book.category) }}
					</div>
				{% endif %}
			</div>
			<div class="book-snippet-extra-info book-buttons">
				{{ _.printBookButtons(book) }}
				<span class="book-snippet-created-by">
					{{ _.printDateIcon(book.createdAt, 'Created at'|trans) }}
					{{ _.printUser(book.createdByUser, book) }}
					{% if book.completedByUser is not empty %}
						{{ _.printUser(book.completedByUser, book) }}
					{% endif %}
				</span>
				{{ _.printBookEditInfo(book, searchableFields) }}
			</div>
			{% if addToShelfForms[book.id] is defined %}
				<div class="book-buttons book-shelf-picker">
					{{ _.printShelfPicker(book, addToShelfForms[book.id]) }}
				</div>
			{% endif %}
		</div>
	</div>
</div>
