{% extends "layout.html.twig" %}

{% block title %}
	Книги
	{% if query.raw is not empty %}
		<br>
		<span class="extra-info">
			<span class="fa fa-search"></span>
			{% if query.field is not empty %}
				{{ query.field|admin_title|trans }}:
			{% endif %}
			{{ query.term }}
		</span>
	{% endif %}
{% endblock %}

{% block content %}

	{% set heading %}
		{{ block('title') }}
		<span class="extra-info">
			<span class="badge badge-secondary" title="{{ 'pager.count'|trans({'%count%': pager.count}) }}">{{ pager.count }}</span>
		</span>
	{% endset %}
	{% include 'Book/books.html.twig' with { heading: heading, books: pager.currentPageResults } %}
	{% include 'pager.html.twig' %}

{% endblock %}

{% block custom_javascript -%}
	<script>
		{% if query.term is not empty %}
		$(function() {
			var query = {{ query|json_encode(constant('JSON_UNESCAPED_UNICODE'))|raw }};
			$(query.field ? '.entity-field-'+query.field : '.entity-field').highlight(query.normalized);
		});
		{% endif %}
	</script>
{%- endblock %}
