{% extends "layout.html.twig" %}

{% block title %}Книги в категория „{{ category.name }}“{% endblock %}

{% block content %}

	{% set contentAfterHeading %}
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="{{ path('books_categories') }}">Категории</a></li>
		{% for categoryInPath in categoryPath %}
			<li class="breadcrumb-item">
				<a href="{{ path('books_by_category', { slug: categoryInPath.slug }) }}" class="{{ categoryInPath == category ? 'active' : '' }}">{{ categoryInPath.name }}</a>
			</li>
		{% endfor %}
	</ol>

	{% if tree is not empty %}
		<div class="panel panel-default">
			<div class="panel-heading" role="tab" id="headingSubcategories">
				<h4 class="panel-title">
					<a role="button" data-toggle="collapse" href="#subcategoriesTree" aria-expanded="false" aria-controls="subcategoriesTree">
						<span class="fa fa-caret-right"></span> Подкатегории
					</a>
				</h4>
			</div>
			<div id="subcategoriesTree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSubcategories">
				<div class="panel-body">
					{{ tree|raw }}
				</div>
			</div>
		</div>
	{% endif %}
	{% endset %}

	{% include 'Book/books.html.twig' with { heading: block('title'), contentAfterHeading: contentAfterHeading, books: pager.currentPageResults } %}
	{% include 'pager.html.twig' %}

{% endblock %}
