{% extends "layout.html.twig" %}

{% import '_macros.html.twig' as _ %}

{% block title %}{{ _.printBookTitleAsBlock(book, searchableFields) }}: Сканирани страници{% endblock %}

{% block content %}

	<h1 class="book-heading">
		{{ _.printBookTitleAsBlock(book, searchableFields) }}
		<div class="subpage-title">Сканирани страници</div>
	</h1>

	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="{{ path('books') }}">Книги</a></li>
		<li class="breadcrumb-item"><a href="{{ path('books_show', {id: book.id}) }}">№ {{ book.id }}</a></li>
		<li class="breadcrumb-item active">Сканирани страници</li>
	</ol>

	{% if book.canHaveScans %}
		{% for scanRow in book.scans|batch(4) %}
			<div class="row">
				{% for scan in scanRow %}
					<div class="col-xs-6 col-md-3">
						<a href="{{ _.thumbScan(scan.name, 1000) }}" class="thumb-link" data-sub-html=".caption">
							<figure class="img-thumbnail">
								<img src="{{ _.thumbScan(scan.name, 300) }}" alt="Скан {{ scan.name }}" style="max-height: 370px" title="{{ scan.size|format_bytes }} • {{ scan.dimensions }} • {{ scan.internalFormat|upper }}">
								<figcaption class="caption">
									{{ scan.title is not empty ? scan : ('Missing scan title'|trans) }}
								</figcaption>
							</figure>
						</a>
					</div>
				{% endfor %}
			</div>
		{% else %}
			<div class="alert alert-danger"><span class="fa fa-warning"></span> {{ _.printMissingScansSearchLink(searchableFields) }}</div>
		{% endfor %}
	{% endif %}

	<table class="table table-bordered table-hover table-sm">
		<tr>
			<th>Файл</th>
			<th>Име</th>
			<th>Размери</th>
			<th>Големина</th>
			<th>Формат</th>
			<th>Дата</th>
			<th>Създател</th>
		</tr>
		{% for scan in book.scans %}
			<tr>
				<td><img src="{{ _.thumbScan(scan.name, 300) }}" style="max-height: 60px" alt="{{ scan.name }}"></td>
				<td>{{ scan.title }}</td>
				<td>{{ scan.dimensions }}</td>
				<td>{{ scan.size|format_bytes }}</td>
				<td>{{ scan.internalFormat|upper }}</td>
				<td>{{ _.printDate(scan.createdAt) }}</td>
				<td>{{ scan.createdBy }}</td>
			</tr>
		{% endfor %}
	</table>

{% endblock %}
