{% extends "layout.html.twig" %}

{% import '_macros.html.twig' as _ %}

{% block title %}{{ _.printBookTitleAsBlock(book, searchableFields) }}: Промени{% endblock %}

{% block content %}

	<h1 class="book-heading">
		{{ _.printBookTitleAsBlock(book, searchableFields) }}
		<div class="subpage-title">Промени</div>
	</h1>

	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="{{ path('books') }}">Книги</a></li>
		<li class="breadcrumb-item"><a href="{{ path('books_show', {id: book.id}) }}">№ {{ book.id }}</a></li>
		<li class="breadcrumb-item active">Промени</li>
	</ol>

	<ul class="list-group">
		{% for revision in book.revisions %}
			<li class="list-group-item"><a href="#revision-{{ revision.id }}">{{ revision.createdBy }} &middot; {{ _.printDate(revision.createdAt) }} &times;{{ revision.diffs|length }}</a></li>
		{% endfor %}
	</ul>

	{% for revision in book.revisions %}
		<div id="revision-{{ revision.id }}" class="card mt-3">
			<div class="card-header">
				{{ _.printUser(revision.createdByUser) }} &middot; {{ _.printDate(revision.createdAt) }}
			</div>
			<div class="card-body">
				<table class="table table-bordered table-hover table-sm">
					<tr>
						<th style="width:20%">Поле</th>
						<th style="width:40%">Стара стойност</th>
						<th style="width:40%">Нова стойност</th>
					</tr>
					{% for modifiedField, diffValues in revision.diffs %}
						<tr>
							<th>{{ modifiedField|admin_title|trans }}</th>
							<td><div class="del-block">{{ diffValues.0|nl2br }}</div></td>
							<td><div class="ins-block">{{ diffValues.1|nl2br }}</div></td>
						</tr>
					{% endfor %}
				</table>
			</div>
		</div>
	{% endfor %}

	<div style="height: 500px"></div>
{% endblock %}
