{% extends "layout.html.twig" %}

{% block title %}Потребители по роля{% endblock %}

{% block content %}

	{% import '_macros.html.twig' as _ %}
	<h1 class="page-header">{{ block('title') }}</h1>
	{% for role in roles %}
		<h2>{{ ('roles.'~role)|trans|upper }}</h2>
		<ul>
		{% for user in users %}
			{% if user.is(role) %}
				<li>
					<a href="{{ path('books', { q: 'createdBy: '~user.name }) }}">{{ user.name }}</a>
					{{ _.printUserMessageLink(user.name) }}
				</li>
			{% endif %}
		{% endfor %}
		</ul>
	{% endfor %}

{% endblock %}
