{% macro printField(book, field, searchableFields) %}
	{% import _self as _ %}
	{% if field == '_divider' %}
		<dt class="col-md-4" role="separator"></dt>
		<dd class="col-md-8" role="separator"><hr></dd>
	{% else %}
		{% set attr = attribute(book, field) %}
		{% if attr is not empty %}
		<dt class="col-md-4 entity-field entity-field-{{ field }}" title="{{ field|admin_title|trans }}">{{ field|admin_title|trans }}</dt>
		<dd class="col-md-8 entity-field entity-field-{{ field }}">
			{% if attr.timestamp is defined %}
				{{ _.printDate(attr) }}
			{% elseif field == 'linksByCategory' %}
				{% for category, links in attr %}
					<b>{{ ('BookLinkCategory.' ~ category)|trans }}</b>
					<ul>
					{% for link in links %}
						<li>{{ _.printLink(link) }}</li>
					{% endfor %}
					</ul>
				{% endfor %}
			{% elseif field == 'category' %}
				{{ _.printCategoryLink(attr) }}
			{% elseif field in searchableFields.fields %}
				{% if attr is same as(true) %}
					{{ _.printSearchLink('да', field, searchableFields) }}
				{% else %}
					{% for subvalue in attr|split('; ') %}
						{{ _.printSearchLink(subvalue, field, searchableFields) }}{% if not loop.last %},{% endif %}
					{% endfor %}
				{% endif %}
			{% elseif field == 'toc' %}
				{{ attr | format_whitespaces }}
			{% elseif field == 'infoSources' %}
				{{ attr | converturls | format_whitespaces }}
			{% elseif field == 'notes' %}
				{{ attr | converturls | autolink | format_whitespaces }}
			{% elseif field in ['createdByUser', 'completedByUser'] %}
				{{ _.printUser(attr, book) }}
			{% else %}
				{{ attr|nl2br }}
			{% endif %}
			{% if field in ['createdBy', 'completedBy'] %}
				{{ _.printUserMessageLink(attr, book) }}
			{% endif %}
			{% if field == 'sequence' and book.sequenceNr is not empty %}
				№{{ book.sequenceNr }}
			{% endif %}
			{% if field == 'subsequence' and book.subsequenceNr is not empty %}
				№{{ book.subsequenceNr }}
			{% endif %}
			{% if field == 'series' and book.seriesNr is not empty %}
				№{{ book.seriesNr }}
			{% endif %}
		</dd>
		{% endif %}
	{% endif %}
{% endmacro %}

{% macro printLink(link) %}
	<a href="{{ '://' in link.url ? link.url : 'http://'~link.url }}" title="{{ link.title }} - {{ link.author }}" target="_blank">{{ link.author ? link.author ~ ': ' : '' }}{{ link.title|default(link.url|slice(0, 50)) }}</a>
{% endmacro %}

{% macro printSearchLink(term, field, searchableFields) -%}
	<a href="{{ path('books', { q: field ~ searchableFields.separator ~' '~ term }) }}">{{ term is same as(false) or term is same as(true) ? field|admin_title|trans : term }}</a>
{%- endmacro %}

{% macro printSearchLinks(term, field, searchableFields) %}
	{% from _self import printSearchLink %}
	{% for subvalue in term|split('; ') %}{{ printSearchLink(subvalue, field, searchableFields) }}{% if not loop.last %}, {% endif %}{% endfor %}
{% endmacro %}

{% macro printSortLink(route, routeParams, field, direction, currentSort) %}
	{% set sort = field ~ '-' ~ direction %}
	{% set fieldHuman = field|admin_title|trans %}
	<a href="{{ path(route, routeParams|merge({ sort: sort })) }}" class="dropdown-item" title="{{ ('sort-'~direction)|trans({'%field%': fieldHuman}) }}"><span class="fa fa-fw {{ sort == currentSort ? 'fa-check' : '' }}"></span> {{ fieldHuman }} <span class="fa {{ direction == 'asc' ? 'fa-chevron-up' : 'fa-chevron-down' }}"></span></a>
{% endmacro %}

{% macro printMissingScansSearchLink(searchableFields) -%}
	<a href="{{ path('books', { q: 'nbScans' ~ searchableFields.separator ~' 0' }) }}">Липсват сканирани страници.</a>
{%- endmacro %}

{% macro printUser(user, book) %}
	{% from _self import printUserMessageLink %}
	{% from _self import printUserBadge %}
	{{ printUserBadge(user) }}
	<a href="{{ path('users_show', {username: user.name}) }}">{{ user }}</a>
	{% if book is defined %}
		{{ printUserMessageLink(user.name, book) }}
	{% endif %}
{% endmacro %}

{% macro printUserMessageLink(user, book) %}
	<a href="{{ path('fos_message_thread_new', { username: user }|merge( book is not empty ? { subject: 'Относно №'~book.id } : {} )) }}" title="Изпращане на лично съобщение"><span class="fa fa-comment-o"></span></a>
{% endmacro %}

{% macro printUserBadge(user) %}
	{% if user.is('ROLE_EDITOR_CHIEF') %}
		<span class="fa fa-user-circle-o badge-editor-chief" title="{{ 'roles.ROLE_EDITOR_CHIEF'|trans }}"></span>
	{% elseif user.is('ROLE_EDITOR_MANAGING') %}
		<span class="fa fa-certificate badge-editor-managing" title="{{ 'roles.ROLE_EDITOR_MANAGING'|trans }}"></span>
	{% elseif user.is('ROLE_EDITOR_SENIOR') %}
		<span class="fa fa-certificate badge-editor-senior" title="{{ 'roles.ROLE_EDITOR_SENIOR'|trans }}"></span>
	{% endif %}
{% endmacro %}

{% macro printUserRolesInline(user) %}
	{% for role in user.roles %}
		- {{ ('roles.'~role)|trans }}
	{% endfor %}
{% endmacro %}

{% macro printDate(date) %}
	<time datetime="{{ date|date('c') }}">{{ date|date('d.m.Y H:i') }}</time>
{% endmacro %}

{% macro printDateIcon(date, title) %}
	<time datetime="{{ date|date('c') }}" title="{{ title|default('') }} {{ date|date('d.m.Y H:i') }}"><span class="fa fa-clock-o"></span></time>
{% endmacro %}

{% macro printTitleWithAuthor(book, glue) %}
<i>{{ book.title|maxlength(60) }}</i>{% if book.author is not empty %}{{ glue|default(' – ') }}{{ book.author|maxlength(40) }}{% endif %}
{% endmacro %}

{% macro printShowLink(book) %}
	<a href="{{ path('books_show', { id: book.id }) }}" title="Пълен преглед на запис №{{ book.id }}" class="btn btn-outline-primary btn-sm"><span class="fa fa-book"></span> №{{ book.id }}</a>
{% endmacro %}

{% macro printEditLink(book) %}
	<a href="{{ _self.adminLinkEditBook(book) }}" title="Редактиране на записа" class="btn btn-outline-primary btn-sm"><span class="fa fa-pencil"></span></a>
{% endmacro %}

{% macro printFullContentLink(book) %}
	{% if book.fullContent is not empty and app.user.canAccessBookContents(book) %}
		<a href="/{{ book.fullContent|contentpath(book.title) }}" title="Сваляне на пълното съдържание на книгата" class="btn btn-success btn-sm book-fullcontent" target="_blank"><span class="fa fa-file-pdf-o"></span></a>
		{% if '.djvu' in book.fullContent %}
			<a href="/djvu-html5/Djvu_html5.html?file=/{{ book.fullContent|contentpath(book.title) }}" title="Преглед на пълното съдържание на книгата" class="btn btn-success btn-sm book-fullcontent" target="_blank"><span class="fa fa-file-text-o"></span></a>
		{% endif %}
	{% endif %}
{% endmacro %}

{% macro printContentLink(contentFile) %}
	{% if app.user.canAccessBookContents(contentFile.book) %}
		<a href="/{{ contentFile.name|contentpath(contentFile.title) }}" title="{{ contentFile.title }}" class="book-content-file" target="_blank"><span class="fa fa-file-text-o"></span> {{ contentFile }}</a>
	{% endif %}
{% endmacro %}

{% macro printChitankaLink(book) %}
	{% if book.chitankaId is not empty %}
		<a href="//chitanka.info/book/{{ book.chitankaId }}" title="Книгата в Моята библиотека" class="btn btn-info btn-sm book-chitanka" target="_blank"><span class="fa fa-file-text-o"></span></a>
	{% endif %}
{% endmacro %}

{% macro printCategoryLink(category) %}
	<a href="{{ path('books_by_category', { slug: category.slug }) }}">{{ category.name }}</a>
{% endmacro %}

{% macro printBookTitle(book) %}
	{{ book.title|replace({'; ': ' • '}) }}
{% endmacro %}

{% macro printBookButtons(book) %}
	{% import _self as _ %}
	{{ _.printShowLink(book) }}
	{{ _.printChitankaLink(book) }}
	{{ _.printFullContentLink(book) }}
	{% if is_granted('ROLE_EDITOR') %}
		{{ _.printEditLink(book) }}
	{% endif %}
{% endmacro %}

{% macro printBookEditInfo(book, searchableFields) %}
	{% import _self as _ %}
	{% if book.isIncomplete %}
		<div class="text-danger">
			<span class="fa fa-warning"></span>
			Записът е непълен.
			{% if book.reasonWhyIncomplete is not empty %}
				({{ _.printSearchLink(book.reasonWhyIncomplete, 'reasonWhyIncomplete', searchableFields) }})
			{% endif %}
			{% if book.hasOnlyScans %}
				({{ _.printSearchLink(book.hasOnlyScans, 'hasOnlyScans', searchableFields) }})
			{% endif %}
		</div>
	{% endif %}
	{% if book.isMissingScans and not book.hasContentFiles %}
		<div class="text-danger">{{ _.printMissingScansSearchLink(searchableFields) }}</div>
	{% endif %}
{% endmacro %}

{% macro printBookThumbnailLink(book, width) %}
	{% from _self import thumbFrontCover %}
	<a href="{{ path('books_show', { id: book.id }) }}" class="link-thumbnail popover-trigger book-{{ book.state }}" data-content="{{ book.annotation|format_paragraphs|e }}" data-placement="top" title="{{ book.title }} – {{ book.author }}">
		<img src="{{ thumbFrontCover(book.cover, width, book.title) }}" class="img-thumbnail" alt="Корица">
	</a>
{% endmacro %}

{% macro printShelfPicker(book, form) %}
	<div class="btn-group btn-group-toggle shelf-picker" data-book="{{ book.id }}">
		{% for choice in form.shelves %}
			<label class="btn btn-sm {{ choice.vars.attr['data-important'] ? 'is-important' : 'is-not-important' }} {{ choice.vars.checked ? 'active btn-info' : 'btn-outline-info' }} shelf-{{ choice.vars.value }} fa {{ choice.vars.attr['data-icon'] }}" title="{{ choice.vars.label }}" data-state-classes="active btn-info btn-outline-info">
				<input type="checkbox" value="{{ choice.vars.value }}" {% if choice.vars.checked %}checked{% endif %}>
			</label>
		{% endfor %}
	</div>
{% endmacro %}

{% macro thumbCover(image, width, humanReadableName) %}{{ image|thumb('covers', width, humanReadableName) }}{% endmacro %}
{% macro thumbFrontCover(image, width, humanReadableName) %}{{ image|thumb('covers', width, humanReadableName ~ '-front') }}{% endmacro %}
{% macro thumbBackCover(image, width, humanReadableName) %}{{ image|thumb('covers', width, humanReadableName ~ '-back') }}{% endmacro %}
{% macro thumbScan(image, width) %}{{ image|thumb('scans', width) }}{% endmacro %}

{% macro adminLinkNewBook() %}{{ ea_url().setController('App\\Controller\\Admin\\BookCrudController').setAction('new') }}{% endmacro %}
{% macro adminLinkEditBook(book) %}{{ ea_url({referrer: app.request.requestUri}).setController('App\\Controller\\Admin\\BookCrudController').setAction('edit').setEntityId(book.id) }}{% endmacro %}
