<div class="user-messages clearfix">
	{% set nb_unread_messages = fos_message_nb_unread() %}
	{% if app.user and nb_unread_messages > 0 %}
		<div class="alert alert-success new-messages-alert pull-right" role="alert">
			<span class="fa fa-comments-o"></span>
			{% if app.user and nb_unread_messages > 1 %}
				Имате <a href="{{ path('fos_message_inbox') }}">{{ nb_unread_messages }} нови съобщения</a>.
			{% else %}
				Имате <a href="{{ path('fos_message_inbox') }}?goto=first-unread">едно ново съобщение</a>.
			{% endif %}
		</div>
	{% endif %}
	{% for flashMessage in app.session.flashbag.get('error') %}
		<div class="error alert alert-danger">{{ flashMessage|raw }}</div>
	{% endfor %}
	{% for flashMessage in app.session.flashbag.get('info') %}
		<div class="alert alert-info">{{ flashMessage|raw }}</div>
	{% endfor %}
	{% for flashMessage in app.session.flashbag.get('success') %}
		<div class="alert alert-success">{{ flashMessage|raw }}</div>
	{% endfor %}
</div>
