{% extends 'layout.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block content %}

	{% include 'bundles/FOSMessageBundle/Message/menu.html.twig' %}

	<h2>{{ thread.subject | autolink }}</h2>

	<div class="card card-header text-muted mb-3">
		<div>
		До:
		{% for participant in thread.otherParticipants(thread.createdBy) %}
			{{ participant }}
			{% if participant != app.user %}
				<a href="{{ path('fos_message_thread_new', { username: participant.username }) }}" title="Изпращане на лично съобщение"><span class="fa fa-comment-o"></span></a>
			{% endif %}
		{% endfor %}
		</div>
	</div>
	{% for message in thread.messages %}
		<div class="card mb-3 messenger_thread_message">
			<div class="card-header messenger_thread_message_info">
				{% if not fos_message_is_read(message) %}
					<span class="badge badge-info">{% trans from 'FOSMessageBundle' %}new{% endtrans %}</span>
				{% endif %}
				{% trans with {'%sender%': message.sender, '%date%': message.createdAt|date('d.m.Y H:i')} from 'FOSMessageBundle' %}message_info{% endtrans %}
			</div>

			<div class="card-body messenger_thread_message_body" id="message_{{ message.id }}">
				{{ message.body | converturls | autolink | format_paragraphs }}
			</div>
		</div>
	{% endfor %}

	<h3>{% trans from 'FOSMessageBundle' %}reply{% endtrans %}</h3>

	<form action="{{ url('fos_message_thread_view', {'threadId': thread.id}) }}" method="post">
		{{ form_widget(form) }}

		<button type="submit" class="btn btn-primary">Изпращане</button>
	</form>

{% endblock %}
