<table class="table table-striped table-sm">

	<thead>
		<tr>
			<th>{% trans from 'FOSMessageBundle' %}subject{% endtrans %}</th>
			<th>{% trans from 'FOSMessageBundle' %}starter{% endtrans %}</th>
			<th>{% trans from 'FOSMessageBundle' %}startdate{% endtrans %}</th>
			<th title="{% trans from 'FOSMessageBundle' %}messages{% endtrans %}"><span class="fa fa-comments"></span></th>
			<th>{% trans from 'FOSMessageBundle' %}last_message{% endtrans %}</th>
			<th>{% trans from 'FOSMessageBundle' %}actions{% endtrans %}</th>
		</tr>
	</thead>

	<tbody>

	{% if threads %}
		{% for thread in threads %}
			<tr>
				<td>
					<a href="{{ url('fos_message_thread_view', {'threadId': thread.id}) }}" title="{{ thread.subject }}">
						{{ thread.subject|slice(0, 40) }}{% if thread.subject|length > 40 %}…{% endif %}
					</a>

					{% if not fos_message_is_read(thread) %}
						<span class="badge badge-info">{% trans from 'FOSMessageBundle' %}new{% endtrans %}</span>
					{% endif %}
				</td>
				<td>
					{{ thread.createdBy }}
				</td>
				<td>
					<time>{{ thread.createdAt|date('d.m.Y H:i') }}</time>
				</td>
				<td>
					{{ thread.messages|length }}
				</td>
				<td>
					{% if thread.lastMessage %}
						<a href="{{ url('fos_message_thread_view', {'threadId': thread.id}) }}#message_{{ thread.lastMessage.id }}" title="{% trans from 'FOSMessageBundle' %}goto_last{% endtrans %}"><span class="fa fa-arrow-circle-right"></span></a>
						{{ thread.lastMessage.sender|e }} &middot; <time>{{ thread.lastMessage.createdAt|date('d.m.Y H:i') }}</time>
					{% else %}
						----
					{% endif %}
				</td>
				<td>
					{% if fos_message_can_delete_thread(thread) %}
						{% if fos_message_deleted_by_participant(thread) %}
							<form action="{{ url('fos_message_thread_undelete', {'threadId': thread.id}) }}" method="post">
								<button type="submit" class="btn btn-success btn-sm"><span class="fa fa-leaf"></span> {% trans from 'FOSMessageBundle' %}undelete{% endtrans %}</button>
							</form>
						{% else %}
							<form action="{{ url('fos_message_thread_delete', {'threadId': thread.id}) }}" method="post">
								<button type="submit" class="btn btn-danger btn-sm"><span class="fa fa-trash-o"></span> {% trans from 'FOSMessageBundle' %}delete{% endtrans %}</button>
							</form>
						{% endif %}
					{% endif %}
				</td>
			</tr>
		{% endfor %}
	{% else %}
		<tr>
			<td colspan="6">
				{% trans from 'FOSMessageBundle' %}no_thread{% endtrans %}.
			</td>
		</tr>
	{% endif %}

	</tbody>

</table>
